# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List of some of the popular languages in data science.
* List of some commonly used libraries in data science.
* List of data science tools.
* Examples of basic mathematics in Python code.

## Author

Josie Tang

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Javascript
8. Juila

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikitlearn

| Data Science Tools|
----------------------
|Apache Spark|
|TensorFlow|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

In [3]:
# Convert a code cell to convert minutes to hours.

200*(1/60)

3.3333333333333335